.form-range {
  &[type='range'] {
    margin-top: 12px;

    &:focus {
      outline: 3px solid #ddd;
      outline-offset: 10px;
    }

    &::-moz-focus-outer {
      border: 0;
    }

    -webkit-appearance: none;
    margin-right: 15px;
    width: 100%;
    height: 10px;
    background: #f5f5f5;
    border-radius: 5px;
    border: 1px solid #ddd;
    // background-image: linear-gradient(#4e87c0, #2171B5);
    // background-size: 70% 100%;
    background-repeat: no-repeat;

    /* Input Thumb */
    &::-webkit-slider-thumb {
      -webkit-appearance: none;
      height: 24px;
      width: 24px;
      border-radius: 50%;
      background: #0059b3;
      cursor: ew-resize;
      box-shadow: 0 0 2px 0 #555;
      transition: background 0.3s ease-in-out;
    }

    &::-moz-range-thumb {
      -webkit-appearance: none;
      height: 24px;
      width: 24px;
      border-radius: 50%;
      background: #0059b3;
      cursor: ew-resize;
      box-shadow: 0 0 2px 0 #555;
      transition: background 0.3s ease-in-out;
    }

    &::-ms-thumb {
      -webkit-appearance: none;
      height: 24px;
      width: 24px;
      border-radius: 50%;
      background: #0059b3;
      cursor: ew-resize;
      box-shadow: 0 0 2px 0 #555;
      transition: background 0.3s ease-in-out;
    }

    &::-webkit-slider-thumb:hover {
      background: #0d6bc9;
    }

    &::-moz-range-thumb:hover {
      background: #0d6bc9;
    }
  }

  &[type='range']::-ms-thumb:hover {
    background: #004993;
  }

  /* Input Track */
  &[type='range']::-webkit-slider-runnable-track {
    -webkit-appearance: none;
    box-shadow: none;
    border: none;
    background: transparent;
  }

  &[type='range']::-moz-range-track {
    -webkit-appearance: none;
    box-shadow: none;
    border: none;
    background: transparent;
  }

  &[type='range']::-ms-track {
    -webkit-appearance: none;
    box-shadow: none;
    border: none;
    background: transparent;
  }
}
