@import '_variables';
@import '_animations';
@import '_accordion';
@import '_card';
@import '_code';
@import '_componentpreview';
@import '_dialog';
@import '_knapper';
@import '_navigation';
@import '_forms';
@import '_range';
@import '_progress';

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.disabled {
  position: relative;
}

.disabled::after {
  position: absolute;
  background-color: rgba(255, 255, 255, 0.6);
  height: 100%;
  width: 100%;
  content: '';
  // z-index: 5; /* Make sure this value is higher than the z-index of the  .form class  */
  z-index: 10;
  top: 0;
  left: 0;
}

header .navbar .search-form {
  align-self: center;
}

.form-input-date {
  max-width: 22rem;
}

/*

Styling for at kunne bruge samme overflow komponent i menu

*/

.nav-primary .overflow-menu {
  .icon-svg {
    display: none;
  }
}

@media (min-width: 992px) {
  .nav-primary .overflow-menu {
    .icon-svg {
      display: inline-block;
    }
  }

  .nav-primary .overflow-menu .button-overflow-menu[aria-expanded='false'] {
    background-image: none;
    background-repeat: no-repeat;
    background-position: right 1rem center;
  }

  .nav-primary .overflow-menu .button-overflow-menu[aria-expanded='true'] {
    color: white;

    .icon-svg {
      fill: white;
    }
  }

  .nav-primary .overflow-menu .button-overflow-menu[aria-expanded='true'] {
    background-image: none;
    background-color: white;
  }

  .nav-primary .overflow-menu .button-overflow-menu span {
    padding-right: 0px;
  }
}
