body {
  overflow-y: scroll;
}


.dv3-gra {
  color: #0059B3;
  background-image: -webkit-linear-gradient(315deg, #0059B3 0%, #000000 100%);
  background-clip: text;
  -webkit-background-clip: text;
  text-fill-color: transparent;
  -webkit-text-fill-color: transparent;
}

.tagline {
  font-size: 5.5rem;
}