// $preview-color: #0059B3;
// $preview-background-color: #f4f4f4;
// $preview-border-color: #0059B3;
// $preview-legend-background-color: $preview-border-color;
// $preview-legend-color: $preview-background-color;

// $preview-color: #A63603;
// $preview-background-color: #FFF5EB;
// $preview-border-color: #D94801;
// $preview-legend-background-color: $preview-border-color;
// $preview-legend-color: $preview-background-color;

// $preview-color: #7A0177;
// $preview-background-color: #FFF7F3;
// $preview-border-color: #AE017E;
// $preview-legend-background-color: $preview-border-color;
// $preview-legend-color: $preview-background-color;

// $preview-color: #006D2C;
// $preview-background-color: #F7FCF5;
// $preview-border-color: #238B45;
// $preview-legend-background-color: $preview-border-color;
// $preview-legend-color: $preview-background-color;

// $preview-color: #6f2ec5;
// $preview-background-color: #f9f5fc;
// $preview-border-color: #784dc3;
// $preview-legend-background-color: $preview-border-color;
// $preview-legend-color: $preview-background-color;

$preview-color: #bd207e;
$preview-background-color: #f5f5f5;
$preview-border-color: #bd207e;
$preview-legend-background-color: $preview-border-color;
$preview-legend-color: $preview-background-color;
