//    COLORS
$color-primary: #0059b3;
$color-primary-medium: #004993;
$color-primary-dark: #003972;

$color-white: #ffffff;

$color-focus: #757575;

// INFO
$color-success: #358000;
$color-success-light: #eeffe2;
$color-info: #1b86c3;
$color-warning: #febb30;
$color-error: #cc0000;
