fieldset.code {
  margin-top: 24px;
  margin-bottom: 1.6em;
  max-width: 800px;
  background: #f4f4f4;
  border: 1px solid #ddd;
  border-left: 3px solid #0059B3;

  >legend {
    background-color: #0059B3;
    color: #FCFBFD;
    padding: 4px 6px 2px 6px;
    margin-left: 24px;
    font-size: 0.8em;
    font-weight: 600;
    text-transform: uppercase;
  }

  >pre {
    color: #0059B3;
    font-size: 0.8em;
    font-weight: 200;
    page-break-inside: avoid;
    overflow: auto;
    padding: 1em 1.5em;
    display: block;
    word-wrap: break-word;
  }
}

code {
  color: #0059B3;
  background-color: #f4f4f4;
  font-size: 0.8em;
  padding: 2px 4px;
}

/*

 background-color: #101322;
 background: linear-gradient(9deg, rgba(16, 19, 34, 1) 27%, rgba(25, 31, 57, 1) 88%);
*/