@import "../../node_modules/dkfds/dist/scss/settings/settings-color";

//    COLORS 
$color-primary:           #0059B3;
$color-primary-medium:    #004993;
$color-primary-dark:      #003972;

$color-white:             #FFFFFF;

$color-focus:             #757575;

// INFO
$color-success:           #358000;
$color-success-light:     #EEFFE2;
$color-info:              #1B86C3;
$color-warning:           #FEBB30;
$color-error:             #CC0000;