@import "_variables";

html {
  scroll-behavior: smooth;
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

header .navbar .search-form {
  align-self: center;
}

// .button-warning {
//   color: #ffffff;
//   background-color: darken($theme-color-warning, 10%);
//   border-color: darken($theme-$color-warning, 20%);
// }
// .button-error {
//   color: #ffffff;
//   background-color: $theme-$color-error;
//   border-color: darken($theme-$color-error, 20%);
// }

// .button-info {
//   color: #ffffff;
//   background-color: $theme-$color-info;
//   border-color: darken($theme-$color-info, 20%);
// }

// .button-success {
//   color: #ffffff;
//   background-color: $theme-$color-success;
//   border-color: darken($theme-$color-success, 20%);
// }
