@import "_variables";
@import "_animations";
@import "_code";
@import "_componentpreview";
@import "_knapper";
@import "_progress";

html {
  scroll-behavior: smooth;
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.disabled {
  position: relative;
}

.disabled::after {
  position: absolute;
  background-color: rgba(255, 255, 255, 0.6);
  height: 100%;
  width: 100%;
  content: '';
  // z-index: 5; /* Make sure this value is higher than the z-index of the  .form class  */
  z-index: 10;
  top: 0;
  left: 0;
}


header .navbar .search-form {
  align-self: center;
}